<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @user.firstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @user.lastName %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Contactnumber:</strong>
  <%= @user.contactNumber %>
</p>

<p>
  <strong>Streeaddress:</strong>
  <%= @user.streeAddress %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>Province:</strong>
  <%= @user.province %>
</p>

<p>
  <strong>Postalcode:</strong>
  <%= @user.postalCode %>
</p>

<p>
  <strong>Country:</strong>
  <%= @user.country %>
</p>

<p>
  <strong>Userid:</strong>
  <%= @user.userId %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
