<div class = "container" id="container22">
 <h1>Book Orders</h1>
  <hr>
  <p id="notice"><%= notice %></p>
  <div id="exTab2" class="">	
    <ul class="nav nav-tabs">
      <% if current_user.userId == 3 %>
  			<li class="<%= @active1 %>"><a  href="#1" data-toggle="tab">All Orders</a></li>
  		<% end %>
  		<% if current_user.userId >=2 %>
  			<li class="<%= @active2 %>"><a href="#2" data-toggle="tab">Books Sold</a></li>
  		<% end %>
  			<li class="<%= @active3 %>"><a href="#3" data-toggle="tab">Books Bought</a></li>
  	</ul>
   
  	<div class="tab-content ">
  	  <% if current_user.userId == 3 %>
  		<div class="tab-pane <%= @active1 %>" id="1">
        <table class="table tble table-striped" id = "order_Address">
          <thead>
            <tr>
              <th>Order#</th>
              <th>Book Name</th>
              <th>Qty</th>
              <th>Order Date</th>
              <th>Price</th>
              <th>Tax</th>
              <th>Total Amount</th>
              <th></th>
            </tr>
          </thead>
  
          <tbody>
            <% @allorders.each do |order| %>
              <tr>
                <td><%= order.id %></td>
                <th><%= Book.find(order.bookId).name %></th>
                <td><%= order.quantity %></td>
                <td><%= order.created_at %></td>
                <td><%= number_to_currency(order.price) %></td>
                <td><%= order.tax %></td>
                <td><%= number_to_currency(order.totalAmount) %></td>
                <td><%= link_to 'Show', order, :class => 'btn btn-info', :id => 'mycolor' %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
  		</div>
  	<% end %>
  	
  	<% if current_user.userId > 1 %>
			<div class="tab-pane <%= @active2 %>" id="2">
        <table class="table tble table-striped" id = "order_Address">
          <thead>
            <tr>
              <th>Order#</th>
              <th>Book Name</th>
              <th>Qty</th>
              <th>Order Date</th>
              <th>Price</th>
              <th>Tax</th>
              <th colspan="3"></th>
            </tr>
          </thead>
  
          <tbody>
            <% @orders.each do |ordero| %>
              <tr>
                <td><%= ordero.id %></td>
                <th><%= Book.find(ordero.bookId).name %></th>
                <td><%= ordero.quantity %></td>
                <td><%= ordero.created_at %></td>
                <td><%= number_to_currency(ordero.price) %></td>
                <td><%= ordero.tax %></td>
                <td><%= link_to 'Show', ordero, :class => 'btn btn-info', :id => 'mycolor' %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
  		</div>
  	<% end %>
  	
  	<% if current_user.userId > 0 %>	
  		<div class="tab-pane <%= @active3 %>" id="3">
        <table class="table tble table-striped" id = "order_Address">
          <thead>
            <tr>
              <th>Order#</th>
              <th>Book Name</th>
              <th>Qty</th>
              <th>Order Date</th>
              <th>Price</th>
              <th>Tax</th>
              <th colspan="3"></th>
            </tr>
          </thead>
  
          <tbody>
            <% @mypurchase.each do |orderp| %>
              <tr>
                <td><%= orderp.id %></td>
                <th><%= Book.find(orderp.bookId).name %></th>
                <td><%= orderp.quantity %></td>
                <td><%= orderp.created_at %></td>
                <td><%= number_to_currency(orderp.price) %></td>
                <td><%= orderp.tax %></td>
                <td><%= link_to 'Show', orderp, :class => 'btn btn-info', :id => 'mycolor' %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
  		</div>
  		<% end %>
  	</div>
  </div>
</div>