<p id="notice"><%= notice %></p>

<p>
  <strong>Userid:</strong>
  <%= @order.userId %>
</p>

<p>
  <strong>Bookid:</strong>
  <%= @order.bookId %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order.quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @order.price %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @order.tax %>
</p>

<p>
  <strong>Totalamount:</strong>
  <%= @order.totalAmount %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
