<p id="notice"><%= notice %></p>

<div class="row" id="showmin">
        <div class="col-md-9 col-md-offset-1">
            <div class="panel panel-info coupon">
              <div class="panel-heading" id="head">
                <div class="panel-title" id="title">
                    <i class="fa fa-github fa-2x"></i>
                    <span class="hidden-xs"> <%= @book.name %></span>
                    <span class="visible-xs"> <%= @book.name %></span>
                </div>
              </div>
              <div class="panel-body">
                <%= ("<img src='data:\"" + @book.Image_Format + "\";base64,%s' class=\"coupon-img img-rounded thumbnail\">" % Base64.encode64(@book.cover)).html_safe %>
                <div class="col-md-9">
                    <ul class="items">
                        <li>
                          <strong>Category:</strong>
                          <%= @book.category %>
                        </li>
                        <li><strong>Status:</strong>
                          <%= @book.status %>
                        </li>
                        <li><strong>Condition:</strong>
                          <%= @book.condition %>
                        </li>
                        <li><strong>Author Name:</strong>
                          <%= @author.firstName + ' ' + @author.lastName %>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 text-warning">
                    <div class="offer">
                        <span class="number">$<%= @book.price %></span>
                        <%= link_to 'Buy Now', new_order_path(buybook: @book.id), :class => 'btn btn-primary btn-lg' %>
                    </div>
                </div>
                <div class="col-md-12">
                    <p class="disclosure"> <strong>Description:</strong><br> <%= @book.description %></p>
                </div>
              </div>
              <div class="panel-footer">
                <div class=""><strong>Published Date:</strong> <%= @book.publishedDate %></div>
              </div>
            </div>
        </div>
    </div>
