<!DOCTYPE html>
<html lang="en">
<head>
  <title>BOVS - Book Publisher Homepage</title>
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
   
   <%= favicon_link_tag(source='logo16x16.png') %>
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag :jquery %>
  <%= javascript_include_tag :bootstrap %>
  <%= stylesheet_link_tag "bootstrap" %>
  <%= stylesheet_link_tag "bootstrapmin" %>
  <%= stylesheet_link_tag "orders" %>
</head>

<body style="margin-top:70px;">
  <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><%= image_tag("logo40x40.png", :alt => "Book PUB", :style => "float:left;") %></a>
                 <%= link_to 'BOVS - BOOKPUB', root_path, :class => "navbar-brand" %>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Categories<span class="caret"></span></a>
                         <ul class="dropdown-menu">
                            <li><a href="#">Comic</a></li>
                            <li><a href="#">Sport</a></li>
                            <li><a href="#">Health</a></li>
                            <li><a href="#">Magazine</a></li>
                            <li><a href="#">Travel</a></li>
                            <li><a href="#">Cooking</a></li>
                            <li><a href="#">Politics</a></li>
                            <li><a href="#">Sci fi</a></li>
                            <li><a href="#">Religious</a></li>
                        </ul>
                    </li>
                    
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                      <% if(user_signed_in?) %>
                         <ul class="nav navbar-nav navbar-right">
                          <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cog"></span> Settings <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                              <li><%= link_to raw("<span class=\"glyphicon glyphicon-edit\"></span> Edit Profile"), edit_user_registration_path %></li>
                              <li><a href="#"><span class="glyphicon glyphicon-credit-card"></span> Payment Method</a></li>
                              <li role="separator" class="divider"></li>
                              <li><%= link_to raw("<span class=\"glyphicon glyphicon-log-in\"></span> Logout"), destroy_user_session_path, :method => :delete %></li>
                            </ul>
                          </li>
                        </ul>
                       <% else %>
                       <li><%= link_to raw("<span class=\"glyphicon glyphicon-user\"></span> Sign Up"), new_user_registration_path %></li>
                         <li><%= link_to raw("<span class=\"glyphicon glyphicon-log-in\"></span> Login"), new_user_session_path %></li>
                       <% end %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

  
  <%= yield %>
</body>
</html>
